<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <style>
   .no-underline{
      text-decoration:none;
   }
 </style>
  <meta charset="UTF-8">
  <title>사이드 메뉴</title>
</head>
<body>
    <th:block th:fragment="sideFragment">
    <div id="side">
		<h1>사이드 메뉴</h1>
		<h1>
			<a th:href="@{/member/listMemebrs.do}" class="no-underline">회원관리</a><br>
			<!-- <a th:href="@{/board/listArticles.do}" class="no-underline">게시판관리</a><br> -->
			<a href="#"  class="no-underline">상품관리</a><br>
		</h1>
	</div>	
	</th:block>
</body>
</html>